[user]
	name = ryof
	email = ryo.furuyama@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	pager = less
  editor = vim

[commit]
  cleanup = whitespace

[credential]
	helper = osxkeychain

[alias]
  commit = commit --no-status
