[user]
	name = ryof
	email = ryo.furuyama@gmail.com
	signingkey = 50119A2F9F90EB22

[core]
	excludesfile = ~/.gitignore_global
	pager = less
  editor = vim

[commit]
  cleanup = whitespace

[credential]
	helper = osxkeychain

[alias]
  commit = commit --no-status

[gpg]
	program = gpg
